@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #e2e2e2;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-left: 1rem;
}

.btn {
  padding-bottom: .5rem;
  text-align: center;
  border-radius: 4px;
}

a:hover {
  background-color: #000;
}

.content {
  padding: 0 1rem 1.5rem;
  text-align: left;
}

p:first-of-type {
  padding-top: .3rem;
  padding-bottom: 0;
}

p:last-of-type {
  padding-top: 0;
  padding-bottom: 1rem;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

.img-flex {
  width: 100%;
  display: block;
}

h1, p {
  margin: 0;
  padding: 1rem;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  body {
    padding-top: 1em;
  }

  .content {
    display: inline-block;
    max-width: 25em;
    width: 48%;
    vertical-align: middle;
  }

  .photo {
    display: inline-block;
    max-width: 25em;
    width: 50%;
    vertical-align: middle;
  }

  .img-flex {
    width: 100%;
    display: block;
  }

  h1 {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }

  header {
    padding-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
