@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #e2e2e2;
  font-family: sans-serif;
  padding-left: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: #555;
  color: #fff;
  padding: .5em .75em;
  border-radius: 4px;
  text-align: center;
}

.btn {
  padding-bottom: 1.5rem;
}

a:hover {
  background-color: #000;
}

.img-flex {
  width: 100%;
  display: block;
}

h1 {
  text-align: left;
  margin-bottom: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 25em) {

  div {
    text-align: left;
    padding: 0;
  }

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .img-flex {
    vertical-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .content {
    display: inline-block;
    max-width: 25em;
    width: 48%;
  }

  .photo {
    display: inline-block;
    max-width: 25em;
    width: 50%;
  }

  .img-flex {
    width: 100%;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .content {
    padding-top: 2rem;
  }

  section {
    vertical-align: middle;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
